/* ################ */
/* General */
/* ################ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --red: #af005d;
    --white: #fefefefe;
    --black: #000000;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

/* section-title */
.section-heading {
    position: relative;
    margin-top: 60px;
    text-align: center;
}

.section-heading h2 {
    color: var(--red);
    font-weight: bold;
    text-transform: uppercase;
}

.section-heading::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 220px;
    height: 5px;
    background-color: var(--red);
    transform: translate(-50%, 0);
}

.section-heading::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--red);
    transform: translate(-50%, 0);
}

.btn {
    color: var(--white);
    background-color: var(--red);
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
}
.btn:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s ease-in;
}
/* Bouton de redirection  */
.arrow {
    height: 50px;
    width: 50px;
    background-color: rgba(175, 0, 93, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icone {
    font-size: 24px;
    color: var(--white);
}

/* ############## */
/* Header */
/* ############## */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 35px 125px;
    z-index: 100000;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header .logo img {
    width: 15%;
    margin-top: -10px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul li a:hover {
    color: var(--red);
    transition: 0.5s ease-in-out;
}
header.sticky {
    padding: 5px 100px;
    background-color: var(--black);
}

/* Styles pour le menu burger */
.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--white);
}

/* ############## */
/* Home */
/* ############## */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
        url("/assets/images/home.jpg");
    background-size: cover;
}
#home .container .row {
    text-align: center;
}
#home .container .row h2 {
    color: var(--white);
    font-size: 50px;
}
#home .container .row .animated-text {
    position: relative;
    height: 70px;
    overflow: hidden;
}
#home .container .row .animated-text h3 {
    color: var(--red);
    font-size: 2em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

#home .container .row .animated-text h3:nth-child(1) {
    animation: text-move 10s infinite;
}

@keyframes text-move {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -70px;
    }
    50% {
        margin-top: -140px;
    }
    75% {
        margin-top: -70px;
    }
    100% {
        margin-top: 0;
    }
}
#home .container .row .button {
    margin-top: 50px;
}
#home .container .row .button a {
    color: #fff;
    background-color: var(--red);
    font-size: 1em;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.5s ease-in;
}
#home .container .row .button a:hover {
    background-color: var(--black);
}

/* ############## */
/* About */
/* ############## */
#about .container .row:first-child {
    margin-top: 100px;
}
#about .container .row:last-child .col-md-6 .btn_2 {
    color: var(--white);
    background-color: var(--black);
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.5s ease-in;
}
#about .container .row:last-child .col-md-6 .btn_2:hover {
    background-color: var(--black);
    color: var(--white);
    transition: 0.5s ease-in;
}

/* ############## */
/* Pages */
/* ############## */
#pages {
    background-color: var(--black);
    color: var(--white);
}
#pages .container .row {
    margin-top: 175px;
    padding: 175px 75px 75px 75px;
}
#pages .container .row .col-md-6:last-child {
    margin-top: 12px;
}

/* ############## */
/* Services */
/* ############## */
#services .container .row .col-md-6 .card {
    cursor: pointer;
}
#services .container .row .col-md-6 .card:hover {
    background-color: #e2e2e2;
    transition: 0.5s ease-in-out;
}

/* ############## */
/* Blog */
/* ############## */
#blog .container .row .card {
    cursor: pointer;
}

/* ############## */
/* Contact */
/* ############## */
#contact .contact-form {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#contact .contact-form h2 {
    color: var(--red);
    margin-bottom: 2rem;
    text-align: center;
}

#contact .form-control {
    border: 2px solid var(--red);
    border-radius: 4px;
    font-size: 1rem;
    resize: none;
    transition: all 0.3s ease;
}

#contact .form-control:focus {
    box-shadow: 0 0 5px rgba(175, 0, 93, 0.3);
    border-color: var(--red);
}

#contact .btn-primary {
    background-color: var(--red);
    border: none;
    padding: 0.75rem 2rem;
}

#contact .btn-primary:hover {
    opacity: 0.9;
    background-color: var(--black);
}

::placeholder {
    color: var(--red);
    opacity: 0.7;
}

/* ############## */
/* Footer */
/* ############## */
footer {
    height: 50vh;
    padding-top: 55px;
    background-color: var(--black);
}
footer .container .row .col-md-3:first-child a {
    color: var(--red);
}
footer .container .row .col-md-3 .list-unstyled li a {
    color: var(--white);
    transition: 0.5s ease-in-out;
}
footer .container .row .col-md-3 .list-unstyled li a:hover {
    color: var(--red);
}
footer .container .row .col-md-3:nth-child(3) a {
    font-size: 25px;
}
footer .container .row .col-md-3 .gap-3 a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}
footer .container .row .col-md-3 .gap-3 a:hover {
    color: var(--red);
    background-color: var(--white);
}
footer .btn {
    background-color: var(--red);
    margin-left: -5px;
}
footer .btn:hover {
    background-color: var(--white);
    color: var(--red);
    transition: 0.5s ease-in-out;
}
/* ############## */
/* Responsive */
/* ############## */
@media (max-width: 480px) {
    footer {
        height: 105vh;
    }
    .section-heading::before {
        width: 150px;
        left: 500px;
    }

    .section-heading h2 {
        font-size: 1.8rem;
    }
    #about .container .row .col-md-6 .row .col-md-6 .btn {
        margin-bottom: 25px;
    }
    #about .container .row .col-md-6 .row .col-md-6 .btn_2 {
        display: none;
    }
    #pages .container .row .col-md-6 {
        margin-top: -87.5px;
    }
    #services .container .row .col-md-3 {
        margin-bottom: 25px;
    }
    #blog .container .row .col-md-4 {
        margin-bottom: 25px;
    }
}

@media (max-width: 576px) {
    .section-heading::before {
        width: 100px;
    }

    .section-heading h2 {
        font-size: 1.5rem;
    }
}
@media (max-width: 600px) {
    .section-heading::before {
        margin-left: -5rem;
    }
    #about .container .row .col-md-6 .row .col-md-6 .btn {
        margin-bottom: 25px;
    }
    #about .container .row .col-md-6 .row .col-md-6 .btn_2 {
        display: none;
    }
    #pages .container .row .col-md-6 {
        margin-top: -87.5px;
    }
    #services .container .row .col-md-3 {
        margin-bottom: 25px;
    }
    #blog .container .row .col-md-4 {
        margin-bottom: 25px;
    }
    footer {
        height: 102vh;
    }
}
@media (max-width: 768px) {
    .section-heading::before {
        width: 150px;
    }

    .section-heading h2 {
        font-size: 1.8rem;
    }
    header {
        padding: 10px 30px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-list {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--black);
        flex-direction: column;
        align-items: center;
        display: none;
        margin-top: 125px;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 15px 0;
    }

    header .logo img {
        width: 15;
    }
    header.sticky {
        padding: 15px 50px;
    }
    .section-heading::before {
        left: 24rem;
    }
    #about .container .row .col-md-6 p {
        display: none;
    }
    #about .container .row:last-child .col-md-6 .btn_2,
    .btn {
        padding: 5px 10px;
        margin-top: 24px;
    }
    #pages .container .row .col-md-6 p {
        display: none;
    }
    #pages .container .row {
        display: none;
    }
    #services {
        margin-top: 12rem;
    }
    footer {
        height: 80vh;
    }
    footer .container .col-md-6:nth-child(4) form {
        height: 50%;
    }
    footer .container .col-md-6:nth-child(4) .btn {
        padding: 10px;
        margin-top: -0.2px;
    }
}
@media (max-width: 992px) {
    .section-heading::before {
        margin-left: -16rem;
    }
    header .logo {
        font-size: 1em;
    }
    header .logo img {
        width: 30%;
    }
    #about .container .row .col-md-6 p {
        font-size: 9.5px;
    }
    #pages .container .row .col-md-6:first-child p {
        font-size: 9.5px;
    }
    #services .container .row .col-md-6 .card .col-md-6 {
        margin-bottom: 2rem;
    }
    #services .container .row .col-md-6 .card {
        padding: 3rem;
        font-size: 14px;
    }
    #services .container .row .col-md-6 .card .icon {
        font-size: 2rem;
    }

    #services .container .row .col-md-6 .card h3 {
        font-size: 1rem;
    }

    #services .container .row .col-md-6 .card p {
        font-size: 10px;
    }
    #blog .container .row .col-md-6 .card h6 {
        font-size: 15px;
    }

    #blog .container .row .col-md-6 .card p {
        font-size: 12px;
    }
    footer {
        height: 55vh;
    }
}
