/* ################ */
/* General */
/* ################ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --red: #af005d;
  --white: #fefefefe;
  --black: #000000;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

/*section-title */
.section-heading {
  position: relative;
  margin-top: 60px;
  text-align: center;
}
.section-heading h2 {
  color: var(--red);
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-heading::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 47.5rem;
  width: 220px;
  height: 5px;
  background-color: var(--red);
  transform: translateX(-50%);
}
.section-heading::after {
  content: '';
  position: absolute;
  top: 45px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--red);
  transform: translateX(-50%);
}
.btn {
  color: var(--white);
  background-color: var(--red);
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
}
.btn:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease-in;
}
/* Bouton de redirection  */
.arrow {
  height: 50px;
  width: 50px;
  background-color: var(--red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.icone {
  font-size: 24px;
  color: var(--white);
}

/* ############## */
/* Header */
/* ############## */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 35px 125px;
  z-index: 100000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header .logo img {
  width: 5%;
  margin-top: -10px;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.6s;
}
header ul li a:hover {
  color: var(--red);
  transition: 0.5s ease-in-out;
}
header.sticky {
  padding: 15px 100px;
  background-color: var(--blue);
}
header.sticky {
  background-color: var(--red);
}

/* Styles pour le menu burger */
.menu-toggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--white);
}

/* Styles pour les écrans mobiles */
@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }

  .menu-toggle {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: var(--red);
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    margin: 15px 0;
  }

  header .logo img {
    width: 15;
  }
}

/* ############## */
/* Home */
/* ############## */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(49, 49, 49, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/images/home.jpg');
  background-size: cover;
}
#home .container .row {
  text-align: center;
}
#home .container .row h2 {
  color: var(--white);
}
#home .container .row .animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}
#home .container .row .animated-text h3 {
  color: var(--red);
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

#home .container .row .animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
#home .container .row .button {
  margin-top: 50px;
}
#home .container .row .button a {
  color: #fff;
  background-color: var(--red);
  font-size: 1em;
  font-weight: 600;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.5s ease-in;
}
#home .container .row .button a:hover {
  background-color: var(--black);
}

/* ############## */
/* About */
/* ############## */
#about .container .row:first-child {
  margin-top: 100px;
}
#about .container .row:last-child .col-md-6 .btn_2 {
  color: var(--white);
  background-color: var(--black);
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.5s ease-in;
}
#about .container .row:last-child .col-md-6 .btn_2:hover {
  background-color: var(--black);
  color: var(--white);
  transition: 0.5s ease-in;
}

/* ############## */
/* Pages */
/* ############## */
#pages {
  background-color: var(--black);
  color: var(--white);
}
#pages .container .row {
  margin-top: 175px;
  padding: 175px 75px 75px 75px;
}
#pages .container .row .col-md-6:last-child {
  margin-top: 12px;
}

/* ############## */
/* Services */
/* ############## */
#services .container .row .col-md-3 .card:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.5s ease-in;
}

/* ############## */
/* Blog */
/* ############## */
#blog .container .row .col-md-4 .card:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.5s ease-in;
}
